<style>
    footer {
        background-color: rgb(238, 238, 238);
        height: 70px;
        width: ;
        vertical-align: middle;
        margin-top: calc(100vh - 270px);
    }

   

    .nav-item {
        font-size: 12px;
        color: rgb(204, 155, 246);
    }

    .nav {
        margin-top: 10px;
    }

    .grey {
        color: rgb(204, 155, 246);

    }

    .desc {
        color: rgb(204, 155, 246);
        font-size: 18px;
        text-decoration: none;

    }
    .desc3 {
        color: blue;
        font-size: 14px;
        text-decoration: none;

    }
    .desc5 {
        font-size: 14px;
        text-decoration: none;
        color: black;

    }

    .desc1 {
        font-size: 15px;
        text-decoration: none;

    }

    .google {
        margin-bottom: 20px;
    }

    #contentContainer {
        margin-top: 50px;
    }

    .caption {
        margin-bottom: 45px;
        font-size: 80px;
    }

    .caption1 {
        margin-bottom: 65px;
        font-size: 30px;
        color: grey;
    }
    .submitbutton{
        border-radius: 20px;
        margin-bottom: 30px;
     }
     .submitbutton1{
        border-radius: 20px;
        border-color: grey;
     }
     /* .home{
         width: 100%;
         background-color: aqua;
         height: calc(100vh - 70px);
         margin-top: calc(100vh - 270px);
     } */

</style>